
:root{
    --dark-gray: #434343;
    --light-gray: #e7e7e7;
}

body{
    background-size: cover;
    text-align: center;
    line-height: 1.6;
    font-family: 'City Mango', 'Times New Roman', Times, serif;
    font-size: 260%;
    color: white;

}

p,h1,h2,h3,h4,h5,h6{
    text-shadow: 0px 0px 5px black;
    filter: drop-shadow(0px 0px 20px #ffffff48);
    font-weight: 400;
}

h6, h1{
    padding: 15px 30px 15px 30px;
    background-color: #0000001a;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

h1{padding: 0;}

h1 > p > span{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

h1 > p > span:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    font-size: 120%;
}

#angry{
    color: red;
    font-family: Impact, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

#lcd{
    color: red;
    font-family: lcd, 'Times New Roman', Times, serif;
    left: 50px;
    top: 400px;
    position: absolute;
}

#moon:hover{
    animation: moonShake 1s ease-in-out 0s infinite;
    opacity: 0.25;
}

#moon{
    left: 100px;
    rotate: 20deg;
    width: 20%;
    opacity: 0.2;
    top: 80px;
    position: absolute;
    filter: drop-shadow(0px 0px 20px yellow);
}

#saturn{
    left: 100px;
    width: 40%;
    opacity: 0.2;
    top: 80px;
    position: absolute;
}

#topbar{
    width: 20%;
    background-image: linear-gradient(
        to bottom,
        white,
        white,
        white,
        white,
        white,
        white,
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray)
    );
    top: 0px;
    right: 0px;
    position: absolute;
    border-radius: 0px 0px 18px 18px;
    border: 5px solid #ffffff38;
    border-width: 0 5px 5px 5px;
    box-shadow: 0px 0px 30px #00000097;
    z-index: -1;
    right: 40%;
}
#topbar > a > img{
    width: 15%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000094;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    position: relative;
}

a{
    color: yellow;
    text-decoration: none;
}

.abtme-images{
    position: absolute;
    width: 10%;
    z-index: 2;
    filter: drop-shadow(0px 0px 15px #000000);
}

.abtme-theonewhowatches{
    rotate: 10deg;
    left: 100px;
    top: 300px;
}

.abtme-minecraft{
    rotate: -8deg;
    right: 100px;
    top: 600px;
}

.abtme-skate{
    left: 100px;
    top: 700px;
}

.abtme-html{
    right: 100px;
    top: 200px;
    rotate: -25deg;
}

#catmoon{
    position: absolute;
    right: 20px;
    bottom: 30%;
    filter: drop-shadow(0px 0px 10px black);
    width: 16%;
}

#kitty{
    position: absolute;
    left: 20px;
    bottom: 0;
    filter: drop-shadow(0px 0px 10px black);
}

#nojs{
    filter: drop-shadow(0px 0px 10px black);
    right: 200px;
    rotate: 20deg;
    position: absolute;
}

#waterplanet{
    opacity: 0.2;
    width: 10%;
    left: 100px;
    top: 230px;
    position: absolute;
    filter: grayscale(70%);
}

#alert{
    height: 54px;
    width: 306px;
    background-color: #00000041;
    box-shadow: 0px 0px 40px #3f4cc477;
    border: 5px solid #ffffff38;
    border-radius: 0px 0px 20px 0px;
    border-width: 0 5px 5px 0;
    left: 0;
    top: 0;
    display: none;
    line-height: 2.3;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: absolute;
}

#box{
    left: calc(50% - calc(50% / 2));
    width: 50%;
    text-align: left;
    position: absolute;
    margin-top: 100px;
}

#box > h1{
    text-align: center;
}