body{
    background-image: url(layered-waves-haikei.svg);
    background-size: 130%;
    font-family: 'Impact', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 99%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 100px);
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 400px;
}

.box > span{
    color: var(--darkbrown);
    font-weight: 700;
}

.box{
    background-image: linear-gradient(135deg, orange, var(--lightorange), orange, var(--lightorange), orange, orange, var(--lightbrown), brown);
    border: 5px solid var(--darkbrown);
    border-radius: 15px;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.box1{
    grid-row: 1/5;
    grid-column: 4/8;
}

.box2{
    grid-row: 1/4;
    grid-column: 8/10;
}

.box3{
    grid-row: 4/5;
    grid-column: 8/10;
}

:root{
    --lightbrown: rgb(215, 133, 0);
    --lightorange: rgb(255, 235, 205);
    --darkbrown: rgb(131, 68, 0);
}