
:root{
    --dark-gray: #434343;
    --light-gray: #e7e7e7;
}

body{
    background-size: cover;
    text-align: center;
    line-height: 1.6;
    font-family: 'Paladise Script', 'Times New Roman', Times, serif;
    font-size: 260%;
    color: white;
}

p,h1,h2,h3,h4,h5,h6{
    text-shadow: 0px 0px 5px #000000;
    filter: drop-shadow(0px 0px 20px #ffffff3a);
    font-weight: 400;
}

h5, h1{
    padding: 15px 30px 15px 30px;
    background-color:#0000003d,;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

h1{
    padding: 0;
    text-align: center;
}


#box{
    left: 25%;
    width: 50%;
    text-align: left;
    position: absolute;
    margin-top: 100px;
}

#blog-date{
    color: yellow;
    right: 50px;
    top: 400px;
    position: absolute;
    font-weight: 900;
}

#sun:hover{opacity: 0.7;}

#moon, #sun{
    left: 100px;
    top: 80px;
    position: absolute;
    filter: drop-shadow(0px 0px 20px white);
}

#moon{
    opacity: 0.2;
    width: 15%;
}

#sun{
    opacity: 0.5;
    width: 10%;
}

#saturn{
    left: 100px;
    width: 40%;
    opacity: 0.2;
    top: 80px;
    position: absolute;
}

#topbar{
    width: 20%;
    background-image: linear-gradient(
        to bottom,
        white,
        white,
        white,
        white,
        white,
        white,
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray)
    );
    top: 0px;
    right: 0px;
    position: absolute;
    border-radius: 0px 0px 18px 18px;
    border: 5px solid #ffffff38;
    border-width: 0 5px 5px 5px;
    box-shadow: 0px 0px 30px #00000097;
    z-index: -1;
    right: 40%;
}
#topbar > a > img,#topbar > img{
    width: 15%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000094;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    background-image: linear-gradient(
        to bottom,
        white,
        white,
        white,
        white,
        white,
        white,
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray),
        var(--light-gray)
    );
}

a{
    color: gold;
    text-decoration: none;
}

.images{
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0px 0px 15px #000000);
}

.abtme-theonewhowatches{
    rotate: 10deg;
    left: 100px;
    top: 300px;
    width: 10%;
}

.abtme-minecraft{
    rotate: -8deg;
    right: 100px;
    top: 600px;
    width: 10%;
}

.abtme-skate{
    left: 100px;
    top: 700px;
    width: 10%;
}

.abtme-html{
    right: 100px;
    top: 200px;
    rotate: -25deg;
    width: 10%;
}

.blog-squid{
    right: 100px;
    top: 200px;
    width: 15%;
}

.home-catmoon{
    position: absolute;
    right: 20px;
    bottom: 30%;
    width: 16%;
}

.home-kitty{
    position: absolute;
    left: 20px;
    bottom: 0;
}

#alert{
    height: 54px;
    width: 306px;
    background-color: #00000041;
    box-shadow: 0px 0px 40px #3f4cc477;
    border: 5px solid #ffffff38;
    border-radius: 0px 0px 20px 0px;
    border-width: 0 5px 5px 0;
    left: 0;
    top: 0;
    display: none;
    line-height: 2.3;
    font-family: 'SF Pro Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: absolute;
}