
body{
    background-size: cover;
    text-align: center;
    line-height: 1.6;
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    font-size: 230%;
    color: white;
}

p,h1,h2,h3,h4,h5,h6{
    text-shadow: 0px 0px 10px black;
    filter: drop-shadow(0px 0px 20px #ff93fb48);
}

#moon:hover{opacity: 0.25;}

#moon{
    left: 100px;
    rotate: 20deg;
    width: 20%;
    opacity: 0.2;
    top: 80px;
    position: absolute;
    filter: drop-shadow(0px 0px 20px yellow);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#saturn{
    left: 100px;
    width: 40%;
    opacity: 0.2;
    top: 80px;
    position: absolute;
}

#topbar{
    width: 20%;
    background-color: #00000041;
    top: 0px;
    right: 0px;
    position: absolute;
    border-radius: 0px 0px 18px 18px;
    border: 5px solid #ffffff38;
    border-width: 0 5px 5px 5px;
    box-shadow: 0px 0px 30px #00000097;
    z-index: -1;
    right: 40%;
}
#topbar > a > img{
    width: 15%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000094;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    position: relative;
}

a{
    color: tomato;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.abtme-images{
    position: absolute;
    width: 10%;
    z-index: 2;
    filter: drop-shadow(0px 0px 15px #000000);
}

.abtme-theonewhowatches{
    rotate: 10deg;
    left: 100px;
    top: 300px;
}

.abtme-minecraft{
    rotate: -8deg;
    right: 100px;
    top: 600px;
}

.abtme-skate{
    left: 100px;
    top: 700px;
}

.abtme-html{
    right: 100px;
    top: 200px;
    rotate: -25deg;
}

#alert{
    height: 54px;
    width: 306px;
    background-color: #00000041;
    box-shadow: 0px 0px 40px #3f4cc477;
    border: 5px solid #ffffff38;
    border-radius: 0px 0px 20px 0px;
    border-width: 0 5px 5px 0;
    left: 0;
    top: 0;
    display: none;
    line-height: 2.3;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    position: absolute;
}

#kitty{
    position: absolute;
    left: 20px;
    bottom: 0;
    filter: drop-shadow(0px 0px 10px black);
}
#catmoon{
    position: absolute;
    right: 20px;
    bottom: 30%;
    filter: drop-shadow(0px 0px 10px black);
    width: 16%;
}
#box{
    left: calc(50% - calc(50% / 2));
    width: 50%;
    text-align: left;
    position: absolute;
    margin-top: 100px;
}

#nojs{
    filter: drop-shadow(0px 0px 10px black);
    right: 200px;
    rotate: 20deg;
    position: absolute;
}

/* this is so finicky */
#box > h1{
    text-align: center;
}